body{
    background:#f5f5f5;
}

.hero-clientes {
  min-height: 200px;
  background:
    linear-gradient(rgba(0,0,0,.72), rgba(0,0,0,.72)),
    url("./assets/background-produtos.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 40px 8%;
  color: #fff;
  margin-top:180px;
}

.hero-clientes div {
  max-width: 680px;
  
}


.hero-clientes h1 {
  font-size: 56px;
  line-height: 1;
  margin: 15px 0;
  font-weight: 700;
}

.hero-clientes p {
  font-size: 22px;
  line-height: 1.4;
  color: #e6e6e6;
}

.clientes{
    padding:80px 8%;
    text-align:center;
}

.clientes h2{
    color:#111;
    margin-bottom:60px;
}

.clientes-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:40px;
}

.cliente{
    background:none;
    box-shadow:none;
    padding:10px;
    height:auto;
}

.cliente:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.cliente img{
    max-width:190px;
    max-height:100px;
    object-fit:contain; 
    transition:.3s;
    padding:10px;
}

.cliente:hover img{
    
    transform:scale(1.05);
}