<header>
  <img src="/facilita-solucoes/assets/images/logo-header.png"
       class="logo-header"
       alt="Logo Facilita Soluções">

       <h1 class="header-title">Facilita Soluções</h1>

  <button class="menu-btn" onclick="toggleMenu()">☰</button>

  <nav class="menu">
    <a href="/facilita-solucoes/index.html">Home</a>
<a href="/facilita-solucoes/pages/company.html">Empresa</a>
<a href="/facilita-solucoes/pages/services.html">Produtos</a>
<a href="/facilita-solucoes/pages/clients.html">Clientes</a>
    <a href="https://wa.me/5519982280709" target="_blank">Contato</a>
  </nav>
</header>